.footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 3rem 0;
    @include tablet{
        flex-direction: column;
    }
    h4{
        font-size: 1.2rem;
        font-weight: 300;
        @include tablet{
            font-size: 1rem;
        }
    }
    .redes{
        width: 20rem;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        img{
            width: 4rem;
            @include tablet{
                width: 3rem;
            }
        }
            
    }
}