.header{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem;
    @include tablet{
        flex-direction: column;
        padding: 4rem 1rem;
        height: 100%;
    }
    .headerDescription, .headerImage{
        z-index: 10;
    }
    .headerDescription{
        height: 100%;
        width: 50%;
        display: grid;
        align-content: center;
        button{
            width: 15rem;
        }
        h1{
            font-size: 4.5rem;
        }
        p{
            font-size: 1.2rem;
            font-weight: 400;
            span{
                display: block;
                font-weight: 900;
            }
        }
        @include tablet{
            width: 80%;
            h1{
                font-size: 2.5rem;
            }
            p{
                font-size: 1rem;
            }
            button{
                width: 12rem;
            }
        }
    }
    .headerImage{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 30rem;
            filter: drop-shadow(1rem 0rem 1rem rgba(0,0,0, .7));
        }
        @include tablet{
            margin-top: 2rem;
            img{
                width: 15rem;
            }
        }
    }
    .backgroundForm{
        position: absolute;
        width: 100%;
        height: 50rem;
        left: 0;
        bottom: -.5%;
        background: $secundario;
        clip-path: polygon(
            56% 62%, 77% 49%, 100% 38%, 100% 100%, 0 100%, 0 66%, 11% 70%, 21% 72%, 34% 71%, 46% 67%
        );
    }
}